<template>
  <div id="toolbar">
    <h3>{{ toolbarCaption }}</h3>
    <div class="inputs-row">
      <span class="label">Canvas Size:</span>
      <div class="two-fields">
        <vue-numeric class="num-input" v-model="canvasWidth" v-on:blur="onCanvasSizeChanged"/>
        <span>x</span>
        <vue-numeric class="num-input" v-model="canvasHeight" v-on:blur="onCanvasSizeChanged"/>
      </div>
    </div>
    <div class="inputs-row">
      <span class="label">Grid Size:</span>
      <div class="one-field">
        <vue-numeric class="num-input" v-model="gridSize" v-on:blur="onGridSizeChanged"/>
      </div>
    </div>
    <div class="inputs-row">
      <span class="label">Generate:</span>
      <div class="two-fields">
        <input type="button" v-on:click="genRegularSites" value="Regular Sites" />
        <span>&amp;</span>
        <input type="button" v-on:click="genRandomSites" value="Random Sites" />
      </div>
    </div>
    <div class="inputs-row">
      <span class="label">Draw</span>
      <div class="two-fields">
        <label for="drawSites">Sites?</label>
        <input id="drawSites" type="checkbox" title="Draw Sites"  class="checkbox" v-model="drawSites" v-on:change="onDrawSitesChanged"/>
        <span></span>
        <label for="drawLinks">Links?</label>
        <input id="drawLinks" type="checkbox" title="Draw Links"  class="checkbox" v-model="drawLinks" v-on:change="onDrawLinksChanged"/>
      </div>
    </div>
  </div>
</template>

<script>
import vor from '../state/vor.store';
import VueNumeric from 'vue-numeric';

export default {
  name: 'tools',
  components: {
    VueNumeric
  },
  store: vor,
  data () {
    return {
      toolbarCaption: this.$store.toolbarCaption,
      canvasWidth: this.$store.state.canvasWidth,
      canvasHeight: this.$store.state.canvasHeight,
      gridSize: this.$store.state.gridSize,
      drawSites: this.$store.drawSites,
      drawLinks: this.$store.drawLinks
    }
  },
  methods: {
    genRegularSites(){
      this.$store.commit('initSites', false);
    },
    genRandomSites(){
      this.$store.commit('initSites', true);
    },
    onCanvasSizeChanged(){
      const size = { width: this.$data.canvasWidth, height: this.$data.canvasHeight };
      console.info('Tools >> Updating Canvas Size: ', size);
      this.$store.commit('updateCanvas', size);
    },
    onGridSizeChanged(){
      this.$store.commit('updateGrid', this.$data.gridSize);
    },
    onDrawSitesChanged(){
      this.$store.commit('updateDrawSites', this.$data.drawSites);
    },
    onDrawLinksChanged(){
      this.$store.commit('updateDrawLinks', this.$data.drawLinks);
    }
  }
}
</script>

<style>

div.inputs-row {
  display: flex;
  padding: 10px;
}

div.inputs-row div.two-fields,
div.inputs-row div.one-field {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

div.inputs-row div.two-fields > input {
  width: 100%;
}

div.inputs-row div.one-field > .num-input {
  width: 100%;
}

div.inputs-row div.two-fields > span {
  width: 20%;
}

span.label {
  font-size: small;
  width: 100px;
  min-width: 100px;
  line-height: 21px;
  text-align: left;
}

div#toolbar {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
</style>
